<h1>Create</h1>
<hr/>

<div class="row">
    <div class="col-6">

        <div class="card">
            <div class="card-header">
                <h5>Create</h5>
            </div>
            <div class="card-body">
                <form>
                    <div>
                        <label class="form-label">Dog Name</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div>
                        <label class="form-label">Dog Age</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div>
                        <button>Save</button>
                    </div>

                </form>
            </div>

            <div class="card-footer">
                <input type="submit"  />
            </div>
        </div>
      
    </div>

</div>
